a
{
  color:#000;
  text-decoration:none;
}

body
{
  background-color:#202020;
  color:#ececec;
  font-family: 'Rubik', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left:10px;
  margin-right:10px;
}

.description,div
{
  margin-left:10px;
  margin-right:10px;
}

.head
{
  color:#000;
  font-size:110%;
  margin-left:10px;
  margin-right:10px;
  padding-bottom:110px;
  padding-top:5px;
  text-align:center;
}

.head-image
{
  background:url(/bg.webp);
  background-position:center;
  background-repeat:no-repeat;
  background-size:110%;
  border-radius:15px;
  opacity:0.8;
}

.head-menu
{
  float:right;
  padding-right:20px;
}

.head-menu-image
{
  background: #383838;
  border-radius: 50%;
  float: left;
}

.head-menu-entry
{
  padding-left:10px;
}

.sticky
{
  background-size:100%;
  border-radius:0;
  left:0;
  margin-left:0!important;
  margin-right:20px;
  margin-top:0;
  opacity:1;
  padding-bottom:40px;
  position:fixed;
  right:0;
  top:0;
  width:100%;
}

.footer
{
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top:20px;
	padding-bottom: 20px;
	background:#111111;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
  white-space: nowrap !important;
}

.copyright-link
{
	color:#ececec;
}

.footer-link
{
  color:#ececec;
  margin-right: 10px;
}

.footer-links
{
  float: right;
}

.team-row::after {
  content: "";
  clear: both;
  display: table;
}

.team-column {
  float: left;
  width: 25%;
  padding: 5px;
}

.team-image
{
  border-radius:15px;
  margin:0 auto;
  display:block;
}