body {
	background-color: darkgrey;
}

.head {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	color: black;
	background: url("bg.webp");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 110%;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 30px;
	padding-bottom: 110px;
}

.head-menu {
	padding-right: 10px;
	float: right;
}

.head-button {
	background: none;
	border:
}