a
{
  color:#000;
  text-decoration:none;
}

body
{
  background-color:#202020;
  color:#ececec;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left:10px;
  margin-right:10px;
}

.description,div
{
  margin-left:10px;
  margin-right:10px;
}

.head
{
  color:#000;
  font-size:110%;
  margin-left:10px;
  margin-right:10px;
  padding-bottom:110px;
  padding-top:5px;
  text-align:center;
}

.head-image
{
  background:url(/bg.webp);
  background-position:center;
  background-repeat:no-repeat;
  background-size:110%;
  border-radius:15px;
  opacity:0.8;
}

.head-menu
{
  float:right;
  padding-right:20px;
}

.head-menu-entry
{
  padding-left:10px;
}

.sticky
{
  background-size:100%;
  border-radius:0;
  left:0;
  margin-left:0!important;
  margin-right:20px;
  margin-top:0;
  opacity:1;
  padding-bottom:40px;
  position:fixed;
  right:0;
  top:0;
  width:100%;
}